:host {
    position: fixed;
    bottom: 10px;
    left: 10px;
    z-index: 9999;
    
    img {
        border-radius: 50%;
        height: 50px;
        width: 50px;
        background-color: #83C9F4;
        cursor: pointer;
    }
}