:host {
    padding: 20px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    
    .btn {
        color: #FFFFFF;
        background-color: #BD632F;
        min-width: 200px;
        border: 1px solid #BD632F;
    }
}